body {
    background-color: #f5f5f5; /* Light grey */
    color: #333; /* Dark grey for text */
    font-family: 'Arial', sans-serif;
}

nav {
    background-color: #7A6A53; /* T1760 */
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    float: left;
    display: block;
    color: #f5f5f5; /* Light grey */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #B8A99A; /* T1716 */
    color: black;
}

nav a.active {
    background-color: #B8A99A; /* T1716 */
    color: white;
}

header{
    background-color: #7A6A53; /* T1760 */
    color: #f5f5f5; /* Light grey */
    padding: 10px 0;
    text-align: center;
    border: #0b0b0b 2px solid; /* T1701 */
}
 
footer {
    background-color: #7A6A53; /* T1760 */
    color: #f5f5f5; /* Light grey */
    padding: 10px 0;
    text-align: center;
    border: #0b0b0b 2px solid; /* T1701 */
}

main {
    padding: 20px;
    
}

section {
    margin-bottom: 20px;
}

h1 {
    color: #0b0b0b;
    font-size: 40px;
}

h2 {
    color: #0b0b0b; /* T1701 */
}

p {
    /*
    line-height: 1.6;*/
    color: #060606; /* T1719 */
}

.left {
    float: left;
    
}
.p {
    font-size: large;
}
