body {
    background-color: #f5f5f5; /* Light grey */
    color: #333; /* Dark grey for text */
    font-family: 'Arial', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the body takes the full height of the viewport */
}
main { 
    flex: 1;
    align-items: center; /* Center align items horizontally */
    justify-content: center; /* Center align items vertically */
    text-align: center
}

nav {
    background-color: #7A6A53; /* T1760 */
    overflow: hidden;
    width: 90px; 
    height: 100%; 
    position: left;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav a {
    float: left;
    display: block;
    color: #f5f5f5; /* Light grey */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #B8A99A; /* T1716 */
    color: black;
}

nav a.active {
    background-color: #B8A99A; /* T1716 */
    color: white;
}

header{
    background-color: #7A6A53; /* T1760 */
    color: #f5f5f5; /* Light grey */
    padding: 10px 0;
    text-align: center;
    border: #0b0b0b 2px solid; /* T1701 */
}

 
footer {
    background-color: #7A6A53; /* T1760 */
    color: #f5f5f5; /* Light grey */
    padding: 10px 0;
    text-align: center;
    border: #0b0b0b 2px solid; /* T1701 */
    position: bottom;
    bottom: 0;
    width: 100%;
}



section {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items horizontally */
    justify-content: center; /* Center align items vertically */
    text-align: center;
    border: #0b0b0b 2px solid; /* T1701 */
    width: 50%; /* Set width to 50% */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

h1 {
    color: #0b0b0b;
    font-size: 40px;
}

h2 {
    color: #0b0b0b; /* T1701 */
}

p {
    /*
    line-height: 1.6;*/
    color: #060606; /* T1719 */
}



.row {
    display: flex;
    flex-wrap: wrap;
    
}